<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>
  
<div class="container">
    <h1>Admin Management</h1>
</div>
<div class="container">
<table class="table table-hover table-responsive table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Roma Chowdhury</td>
      <td>roma223</td>
      <td>abcd12345</td>
    </tr>
    <tr>
      <td>Sutapa Sen</td>
      <td>sutapa@123</td>
      <td>stp12345</td>
    </tr>
    <tr>
      <td>Akhil Chatterjee</td>
      <td>akhil123</td>
      <td>acckd2</td>
    </tr>
    <tr>
      <td>Saheli Thakur</td>
      <td>saheli@34</td>
      <td>xz25g</td>
    </tr>
    <tr>
      <td>Adarsh Debnath</td>
      <td>debnath002</td>
      <td>abdeb234</td>
    </tr>
  </tbody>
</table>
</div>
