<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>
  
<div class="container">
    <h1>Lab Management</h1>
</div>

<div class="container">
  <table class="table table-hover table-responsive table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Pincode</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CC1</td>
        <td>Kolkata</td>
        <td>2478 5324</td>
        <td>700034</td>
      </tr>
      <tr>
        <td>CC2</td>
        <td>Kolkata</td>
        <td>2478 6224</td>
        <td>700034</td>
      </tr>
      <tr>
        <td>CC3</td>
        <td>Kolkata</td>
        <td>2478 5324</td>
        <td>700034</td>
      </tr>
      <tr>
        <td>CC4</td>
        <td>Kolkata</td>
        <td>2478 5324</td>
        <td>700034</td>
      </tr>
      <tr>
        <td>CC5</td>
        <td>Kolkata</td>
        <td>2478 5324</td>
        <td>700034</td>
      </tr>
    </tbody>
  </table>
  </div>